.table {
  margin-top: 2rem;
}

thead, tbody {
  font-size: 5rem;
}

button {
  border: transparent;
  background-color: transparent;
  color: rgb(31, 49, 212);
  font-weight: normal;
}

button:hover {
  color: black;
}
